ul.shapeCheckboxes {
    list-style-type: none;
}

ul.shapeCheckboxes li {
    display: inline-block;
    width: 30px;
    margin-right: 5px;
}

ul.shapeCheckboxes input[type="checkbox"] {
    display: none;
}

ul.shapeCheckboxes label {
    padding: 2px;
    font-size: 150%;
    text-align: center;
    cursor: pointer;
}

ul.shapeCheckboxes.screen :checked+label {
    background-color: green;
    color: white;
}

/* In print, only show selected shapes. Do this at the <li> level so it doesn't
 * take up white space.
 */
ul.shapeCheckboxes.print li:not(:has(:checked)) {
    display: none;
}

ul.shapeCheckboxes.print :checked+label {
    display: block;
}

